
.attraction_content{
    display: grid;
    justify-content: center;
    margin-top: 37px;
}

.attraction_information{
    width: 1200px;
    height: 406px;
    display: grid;
    grid-template-columns: 540px 600px;
    grid-column-gap: 30px; ;
    justify-content: center;
}

.attraction_information_images {
    overflow:hidden;
    width:540px;
    height:406px;
    position: relative;
    border-radius: 5px;
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }


.image{
    object-fit: cover;
    width:540px;
    height:406px;
    border-radius: 5px;
}

.attraction_information_images_main>img:not(:first-child){
    display:none;
}

.attraction_information_images_circle {
    height: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 13px;
    z-index: 3;
    opacity: 75%;
}

.attraction_information_images_circle >span {
    width: 12px;
    height:12px;
    display:inline-block;
    background-color:white;
    border-radius:50%;
    margin:0px 12px;
}

.attraction_information_images_circle >span.checked {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid white;
    background-color:black;
}

.attraction_information_images_arrow {
    display: block;
    opacity: 75%;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    margin-left: 10px;
    margin-right: 10px;
}

.attraction_information_images_arrow:hover{
    cursor: pointer;
}

.previous {
    left: 0;
}
.next {
    right: 0;
}

.attractions_introduction{
    display: grid;
    justify-content: center;
    width: 1200px;
    height: auto;
    text-align: justify;
    margin-top: 87px;
    color: #666666;
    font-weight: 700;
    position: relative;
}

.attraction_information_booking{
    font-weight: 700;
    font-size: 16px;
    font-family: 'Noto Sans TC';
    color: #666666;
    margin-bottom: opx;
}

.attraction_information_booking_name_title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.attraction_information_booking_name_category{
    font-weight: 500;
}

.attraction_information_booking_select{
    border-radius: 5px;
    margin-top: 20px;
    background-color: #e8e8e8;
    height: 312px;
    padding: 15px 20px;
    box-sizing: border-box;
}


.attraction_information_booking_select > div{
    margin-bottom: 15px;
}


.attraction_information_booking_select_subtitle{
    font-weight: 500;
}

.attraction_information_booking_select_time{
    font-weight: 500;
}

.attraction_information_booking_select_time >span{
    font-weight: 700;
}

#price{
    font-weight: 500;
}

.attraction_information_booking_select_button{
    width: 154px;
    height: 36px;
    border-radius: 5px;
    background-color: #448899;
    font-size: 19px;
    font-weight: 400;
    color: white;
    margin-top: 25px;
    border: 0px;
}

.attraction_information_booking_select_button:hover{
    color: white;
    background-color: #356b78;
}

.dividing_line{
    position: absolute;
    top: -50px;
}

input[type="date"]{
    height: 35px;
    width: 193px;
    margin-left: 15px;
    padding: 5px 10px;
    box-sizing: border-box;
}

input[type="date"]:hover{
    cursor: pointer;
    outline: none;
}

input[type="radio"] {
    cursor: pointer;
    width: 16px;
    height: 16px;
    font-family: 'Noto Sans TC';
    color: #666666;
    position: relative;
    border: none;
    margin-right: 6px;
}

input[type="radio"]::before {
    content: '';
    width: 22px;
    height: 22px;
    background-color: white;
    color: #000;
    border-radius: 50%;
    position: absolute;
    border: 0px;
    top: -1px;
    left: -1px;
}

input[type="radio"]:checked::after {
    content: '';
    background-color: #448899;
    width: 18px;
    height: 18px;
    top: 1px;
    left: 1px;
    border-radius: 50%;
    position: absolute;
}

input[type="radio"]:checked:focus{
    border: 0px;
    outline: none;
}

#description{
    font-weight: 400;
}

.attractions_introduction_address{
    margin-top: 20px;
}

#address{
    margin-top: 8px;
    font-weight: 400;
}

.attractions_introduction_transport{
    margin-top: 20px;
}

#transport{
    margin-top: 8px;
    font-weight: 400;
}





#load-wrapper {
    background: #FFFFFF;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}	

.loader{
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform:scale(4,4);
}


.ball,
.colorRing,
.ringTwo,
.ringThree,
.ringFour {
    top:50%;
    left:50%;
    display:block;
    border-radius:50%;
    position:absolute;
    vertical-align:middle;
}

.ball {
    width:10px;
    height:10px;
    margin:-6px 0 0 -5px;
    background: #448899;
    animation:2000ms pulseInPrimary 1500ms cubic-bezier(0.4, 0.0, 0.2, 1)  infinite;
    -webkit-animation:2000ms pulseInPrimary 1500ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite;	
}

.colorRing {
    width:16px;
    height:16px;
    margin:-9px 0 0 -9px;
    border:1px solid #B3C1FF ;
    animation:2000ms pulseIn cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
    -webkit-animation:2000ms pulseIn 100ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite;						
}

@keyframes pulseIn {
    0%{
    opacity:0;
    transform:scale(0.2,0.2);
    }
    50% {
    opacity:1;
    transform:scale(1,1);
    }
    100% {
    opacity:0;
    transform:scale(0.2,0.2);
    }
}

@-webkit-keyframes pulseIn {
    0% {
    opacity:0;
    -webkit-transform:scale(0.2,0.2);
    }
    50% {
    opacity:1;
    -webkit-transform:scale(1,1);
    }
    100%{
    opacity:0;
    -webkit-transform:scale(0.2,0.2);
    }
}

@keyframes pulseInPrimary{
    0%{
    opacity:1;
    transform:scale(0.2,0.2);
    }
    50%{
    opacity:1;
    transform:scale(1.4,1.4);
    }
    100%{
    opacity:1;
    transform:scale(0.1,0.1);
    }
}

@-webkit-keyframes pulseInPrimary{
    0%{
    opacity:0;
    -webkit-transform:scale(0.1,0.1);
    }
    50%{
    opacity:1;
    -webkit-transform:scale(1,1);
    }
    100%{
    opacity:0;
    -webkit-transform:scale(0.2,0.2);
    }
}


.ringTwo{
    width:40px;
    height:40px;
    background: rgba(87, 121, 254, 0.3);
    border:1px solid #fafafa;
    margin:-21px 0 0 -21px;
    animation:2000ms pulseIn 500ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
    -webkit-animation:2000ms pulseIn 500ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite	
}

@keyframes pulseInSecondary {
    0%{
    opacity:0;
    transform:scale(0.2,0.2);
    }
    50% {
    opacity:1;
    transform:scale(1,1);
    }
    100% {
    opacity:0;
    transform:scale(0.2,0.2);
    }
}

@-webkit-keyframes pulseInSecondary {
    0% {
    opacity:0;
    -webkit-transform:scale(0.2,0.2);
    }
    50% {
    opacity:1;
    -webkit-transform:scale(1,1);
    }
    100%{
    opacity:0;
    -webkit-transform:scale(0.2,0.2);
    }
}


.ringThree{
    width:48px;
    height:48px;
    border:1px solid rgba(87, 121, 254, 0.2);
    margin:-25px 0 0 -25px;
    animation:2000ms pulseInSecondary 550ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
    -webkit-animation:2000ms pulseInSecondary 550ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite;	
}

.ringFour{
    width:56px;
    height:56px;
    border:1px solid rgba(87, 121, 254, 0.1);
    margin:-29px 0 0 -29px;
    animation:2000ms pulseInSecondary 600ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
    -webkit-animation:2000ms pulseInSecondary 600ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite;	
}

.label {
    position: relative;
    top: 66%;
}

p {
    color: #8B96AD;
    font-size: .889em;
    line-height: 1.2;
    font-family: 'Inconsolata', sans-serif;
    text-align: center;

}
h2 {
    color: #8B96AD;
    font-size: 1em;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}





@media(max-width:1200px){
    .attraction_content{
        width: 90%;
        margin: 0px auto;
    }

    .attraction_information{
        width: 100%;
        justify-content: center;
        grid-template-columns: 50% 50%;
        row-gap: 30px;
    }

    .attraction_information_booking{
        width: 100%;
    }

    .attraction_information_images{
        width: 100%;
    }

    .attraction_information_images_circle{
        justify-content: center;
        width: 100%;
    }

    .attractions_introduction{
        width: 100%;
        margin-top: 100px;
    }


}


@media(max-width:800px){
    .attraction_content{
        width: 90%;
        margin: 0px auto;
    }

    .attraction_information{
        width: 100%;
        justify-content: center;
        grid-template-columns: 100%;
        row-gap: 0px;
    }

    .attraction_information_booking{
        width: 100%;
        margin-top: 20px;
    }

    .attraction_information_images{
        width: 100%;
    }

    .image{
        width:100%;
    }

    .attractions_introduction{
        width: 100%;
        margin-top: 100px;
    }
    .attractions_introduction{
        margin-top: 500px;
    }
}