@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap");
button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 5px;
  font-size: 19px;
  color: #666666;
  font-weight: 400;
  font-family: "Noto Sans TC";
}
button:hover {
  cursor: pointer;
}

input {
  border: 0px;
  outline: none;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #E8E8E8;
}
input:focus {
  outline: 1px solid #448899;
}

.dividing_line {
  width: 1200px;
  height: 1px;
  background-color: #e8e8e8;
  text-align: center;
}

html, body {
  font-size: 16px;
  color: #666666;
  font-weight: 700;
  font-family: "Noto Sans TC";
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.nav_container {
  width: 100%;
  height: 54px;
}
.nav_container .nav_background {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: white;
  z-index: 20;
}
.nav_container .nav_background .navigation {
  width: 1200px;
  height: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 15px 0px 15px;
}
.nav_container .nav_background .navigation .navigation_name {
  font-size: 30px;
  color: #448899;
  font-weight: 700;
  font-family: "Noto Sans TC";
  line-height: 54px;
  background-color: white;
  cursor: pointer;
}
.nav_container .nav_background .navigation .navigation_button {
  font-size: 16px;
  color: #666666;
  font-weight: 500;
  font-family: "Noto Sans TC";
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_record {
  margin-right: 20px;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_record:hover {
  color: #448899;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_schedule {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_schedule .navigation_cart_word {
  display: none;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_schedule .navigation_cart {
  position: relative;
  width: 30px;
  height: 30px;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_schedule .navigation_cart .navigation_cart_icon {
  width: 30px;
  height: 30px;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_schedule .navigation_cart .navigation_cart_number {
  background-color: #448899;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 5px;
  position: absolute;
  color: white;
  right: -6px;
  top: -4px;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_schedule:hover {
  width: auto;
  height: 100%;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_schedule:hover .navigation_cart_word {
  display: inline-block;
  color: #448899;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_schedule:hover .navigation_cart {
  display: none;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_sign {
  margin-right: 20px;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_sign:hover {
  color: #448899;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_sign.hide {
  display: none;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_sign_out:hover {
  color: #448899;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_sign_out.hide {
  display: none;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_burger {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_burger img {
  width: 30px;
  height: 30px;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_burger .navigation_button_burger_change_icon {
  display: none;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_burger:hover .navigation_button_burger_icon {
  display: none;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_burger:hover .navigation_button_burger_change_icon {
  display: inline-block;
}
.nav_container .nav_background .navigation .navigation_button .navigation_button_burger.hide {
  display: none;
}

.member_container {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 80px;
  left: 0;
}
.member_container .login, .member_container .register, .member_container .message {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  font-size: 16px;
  color: #666666;
  font-weight: 500;
  font-family: "Noto Sans TC";
  position: relative;
  z-index: 35;
}
.member_container .login .card_pop_wrapper, .member_container .register .card_pop_wrapper, .member_container .message .card_pop_wrapper {
  width: 340px;
  height: auto;
  background-color: white;
  border-radius: 5px;
}
.member_container .login .card_pop_wrapper .form, .member_container .register .card_pop_wrapper .form, .member_container .message .card_pop_wrapper .form {
  width: 340px;
  height: auto;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  z-index: 35;
  position: fixed;
  top: 200px;
}
.member_container .login .card_pop_wrapper .form::before, .member_container .register .card_pop_wrapper .form::before, .member_container .message .card_pop_wrapper .form::before {
  content: "";
  background: linear-gradient(to right, #66AABB 0%, #337788 100%);
  width: 340px;
  height: 10px;
  position: absolute;
  margin-left: -170px;
  border-radius: 5px 5px 0px 0px;
  z-index: 40;
}
.member_container .login .card_pop_wrapper .form .form_head, .member_container .register .card_pop_wrapper .form .form_head, .member_container .message .card_pop_wrapper .form .form_head {
  padding-top: 25px;
  margin-bottom: 15px;
  height: auto;
  font-size: 24px;
  color: #666666;
  font-weight: 700;
  font-family: "Noto Sans TC";
}
.member_container .login .card_pop_wrapper .form .form_head .form_title, .member_container .register .card_pop_wrapper .form .form_head .form_title, .member_container .message .card_pop_wrapper .form .form_head .form_title {
  text-align: center;
}
.member_container .login .card_pop_wrapper .form .form_head .cancel_button, .member_container .register .card_pop_wrapper .form .form_head .cancel_button, .member_container .message .card_pop_wrapper .form .form_head .cancel_button {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 25px;
}
.member_container .login .card_pop_wrapper .form .form_head .cancel_button img, .member_container .register .card_pop_wrapper .form .form_head .cancel_button img, .member_container .message .card_pop_wrapper .form .form_head .cancel_button img {
  width: 16px;
  height: 16px;
}
.member_container .login .card_pop_wrapper .form .form_input input, .member_container .register .card_pop_wrapper .form .form_input input, .member_container .message .card_pop_wrapper .form .form_input input {
  width: 310px;
  height: 47px;
  font-size: 16px;
  color: #666666;
  font-weight: 500;
  font-family: "Noto Sans TC";
  background-color: white;
  padding-left: 15px;
  margin-bottom: 10px;
}
.member_container .login .card_pop_wrapper .form .form_input img, .member_container .register .card_pop_wrapper .form .form_input img, .member_container .message .card_pop_wrapper .form .form_input img {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 25px;
  top: 140px;
}
.member_container .login .card_pop_wrapper .form .form_input .openEye.hide, .member_container .register .card_pop_wrapper .form .form_input .openEye.hide, .member_container .message .card_pop_wrapper .form .form_input .openEye.hide {
  display: none;
}
.member_container .login .card_pop_wrapper .form .form_input .closeEye.hide, .member_container .register .card_pop_wrapper .form .form_input .closeEye.hide, .member_container .message .card_pop_wrapper .form .form_input .closeEye.hide {
  display: none;
}
.member_container .login .card_pop_wrapper .form #enter, .member_container .login .card_pop_wrapper .form #build, .member_container .register .card_pop_wrapper .form #enter, .member_container .register .card_pop_wrapper .form #build, .member_container .message .card_pop_wrapper .form #enter, .member_container .message .card_pop_wrapper .form #build {
  width: 310px;
  height: 47px;
  background-color: #448899;
  opacity: 30%;
  border-radius: 5px;
  color: white;
  margin-bottom: 15px;
}
.member_container .login .card_pop_wrapper .form .register_result, .member_container .login .card_pop_wrapper .form .logIn_result, .member_container .register .card_pop_wrapper .form .register_result, .member_container .register .card_pop_wrapper .form .logIn_result, .member_container .message .card_pop_wrapper .form .register_result, .member_container .message .card_pop_wrapper .form .logIn_result {
  margin-bottom: 15px;
}
.member_container .login .card_pop_wrapper .form .logIn_result.hide, .member_container .login .card_pop_wrapper .form .register_result.hide, .member_container .register .card_pop_wrapper .form .logIn_result.hide, .member_container .register .card_pop_wrapper .form .register_result.hide, .member_container .message .card_pop_wrapper .form .logIn_result.hide, .member_container .message .card_pop_wrapper .form .register_result.hide {
  display: none;
}
.member_container .login .card_pop_wrapper .form .want_register, .member_container .login .card_pop_wrapper .form .want_logIn, .member_container .register .card_pop_wrapper .form .want_register, .member_container .register .card_pop_wrapper .form .want_logIn, .member_container .message .card_pop_wrapper .form .want_register, .member_container .message .card_pop_wrapper .form .want_logIn {
  width: 100%;
  text-align: center;
  z-index: 35;
  line-height: 16px;
  margin-bottom: 15px;
}
.member_container .register.hide, .member_container .login.hide, .member_container .message.hide {
  display: none;
}
.member_container .message {
  margin-top: 20%;
}
.member_container .message .form_message_print {
  font-size: 20px;
  margin-bottom: 20px;
}

.navigation_button_burger_category {
  width: 200px;
  height: 400px;
  display: flex;
  right: 10%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  background-color: #fafbfb;
  border-radius: 10px;
  position: fixed;
  z-index: 40;
  padding-bottom: 30px;
}
.navigation_button_burger_category .burger_category_wrapper {
  width: 200px;
  text-align: center;
  justify-content: center;
  top: 200px;
}
.navigation_button_burger_category .burger_category_wrapper .arrow_top {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 12px;
  border: 0px;
}
.navigation_button_burger_category .burger_category_wrapper .arrow_top:hover {
  background-color: #c8c4c4;
  color: black;
  border: none;
}
.navigation_button_burger_category .burger_category_wrapper button {
  width: 100px;
  height: 100px;
  margin-right: 0px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #fafbfb;
}
.navigation_button_burger_category .burger_category_wrapper button .signOutIcon {
  width: 25px;
  height: 25px;
}
.navigation_button_burger_category .burger_category_wrapper button .signOutIcon_change {
  display: none;
  width: 25px;
  height: 25px;
}
.navigation_button_burger_category .burger_category_wrapper button .orderIcon {
  width: 25px;
  height: 25px;
}
.navigation_button_burger_category .burger_category_wrapper button .orderIcon_change {
  display: none;
  width: 25px;
  height: 25px;
}
.navigation_button_burger_category .burger_category_wrapper button .personIcon {
  width: 25px;
  height: 25px;
}
.navigation_button_burger_category .burger_category_wrapper button .personIcon_change {
  display: none;
  width: 25px;
  height: 25px;
}
.navigation_button_burger_category .burger_category_wrapper button:hover {
  color: #448899;
}
.navigation_button_burger_category .burger_category_wrapper button:hover .signOutIcon {
  display: none;
}
.navigation_button_burger_category .burger_category_wrapper button:hover .signOutIcon_change {
  display: inline-block;
}
.navigation_button_burger_category .burger_category_wrapper button:hover .orderIcon {
  display: none;
}
.navigation_button_burger_category .burger_category_wrapper button:hover .orderIcon_change {
  display: inline-block;
}
.navigation_button_burger_category .burger_category_wrapper button:hover .personIcon {
  display: none;
}
.navigation_button_burger_category .burger_category_wrapper button:hover .personIcon_change {
  display: inline-block;
}

.navigation_button_burger_category.hide {
  display: none;
}

.background {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 25%;
  z-index: 30;
  background-color: black;
  text-align: center;
  align-items: center;
}
.background .preloadImg-wrapper {
  width: 100%;
  height: auto;
}
.background .preloadImg-wrapper .preloadImg {
  opacity: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.background.hide {
  display: none;
}

.footer {
  width: 100%;
  height: 104px;
  font-size: 16px;
  color: white;
  font-weight: 700;
  font-family: "Noto Sans TC";
  background-color: #757575;
  text-align: center;
  line-height: 104px;
  margin-top: 55px;
}

@media (max-width: 1200px) {
  .nav_container {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
  }
  .nav_background {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
  }
  .navigation {
    width: 90%;
    padding: 0px;
  }
  .navigation_name {
    margin-left: 20px;
    margin-left: 0px;
  }
  .navigation_button_schedule {
    margin-left: 0%;
  }
  .navigation_button_sign {
    margin-right: 0px;
  }
  .dividing_line {
    width: 100%;
  }
  .navigation_button_burger_category {
    right: 2%;
  }
}
@media (max-width: 560px) {
  .nav_container {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
  }
  .nav_background {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
  }
  .navigation {
    width: 90%;
  }
  .navigation_name {
    margin-left: 0%;
  }
  .navigation_button_schedule {
    margin-left: 0%;
  }
  .navigation_button_sign {
    margin-right: 0px;
  }
  .dividing_line {
    width: 100%;
  }
}/*# sourceMappingURL=base.css.map */