@import url('https://fonts.googleapis.com/css2?family\
=Noto+Sans+TC:wght@500;700&display=swap');

$main_color : #448899;
$font_color : #666666;
$font_color_light: #757575;
$side_color : #E8E8E8;
$button_focus_color : #356b78;

@mixin center($width,$height,$display,$way){
    width: $width;
    height: $height;
    display: $display;
    justify-content: $way;
}

@mixin font($size,$color,$weight){
    font-size: $size;
    color : $color;
    font-weight: $weight;
    font-family: 'Noto Sans TC';
}

@mixin border-style($width){
    width: $width;
    height: 1px;
    background-color: $side_color;
    text-align: center
}

@mixin box-size($width,$height){
    width: $width;
    height: $height;
}

button{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 5px;
    @include font(19px,$font_color,400);
    &:hover{
        cursor: pointer;
    }
}

input{
    border: 0px;
    outline: none;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid $side_color;
    &:focus{
        outline:1px solid $main_color;
    }
}

.dividing_line {
    width: 1200px;
    height: 1px;
    background-color: #e8e8e8;
    text-align: center;
}

html,body{
    @include font(16px,$font_color,700);
    @include box-size(100%,auto);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav_container{
    @include box-size(100%,54px);
    .nav_background{
        @include center(100%,54px,flex,center);
        position: fixed;
        background-color: white;
        z-index: 20;
        .navigation{
            @include center(1200px,auto,flex,space-between);
            box-sizing: border-box;
            padding:0px 15px 0px 15px;
            .navigation_name{
                @include font(30px,$main_color,700);
                line-height: 54px;
                background-color: white;
                cursor: pointer;
            }
            .navigation_button{
                @include font(16px,$font_color,500);
                align-items: center;
                justify-content: space-between;
                display: flex;
                .navigation_button_record{
                    margin-right: 20px;
                    &:hover{
                        color: $main_color;
                    }
                }
                .navigation_button_schedule{
                    display: flex;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    margin-right: 20px;
                    .navigation_cart_word{
                        display: none;
                    }
                    .navigation_cart{
                        position: relative;
                        width: 30px;
                        height: 30px;
                        .navigation_cart_icon{
                            width: 30px;
                            height: 30px;
                        }
                        .navigation_cart_number{
                            background-color: #448899;
                            width: 20px;
                            height: 20px;
                            border-radius: 10px;
                            font-size: 5px;
                            position: absolute;
                            color: white;
                            right: -6px;
                            top: -4px;
                        }
                    }
                    &:hover{
                        width: auto;
                        height:100%;
                        .navigation_cart_word{
                            display: inline-block;
                            color: $main_color;
                        }
                        .navigation_cart{
                            display: none;
                        }
                    }
                }
                .navigation_button_sign{
                    margin-right: 20px;
                    &:hover{
                        color: $main_color;
                    }
                }
                .navigation_button_sign.hide{
                    display: none;
                }
                .navigation_button_sign_out{
                    &:hover{
                        color: $main_color;
                    }
                }
                .navigation_button_sign_out.hide{
                    display: none;
                }
                .navigation_button_burger {
                    display: flex;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    img{
                        width: 30px;
                        height: 30px;
                    }
                    .navigation_button_burger_change_icon{
                            display: none;
                    }
                    &:hover{
                        .navigation_button_burger_icon{
                            display: none;
                        }
                        .navigation_button_burger_change_icon{
                            display: inline-block;
                        }
                    }
                }
                .navigation_button_burger.hide{
                    display: none;
                }
            }
        }
    }
}

.member_container{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 80px;
    left: 0;
    .login , .register , .message{
        @include center(100%,auto,grid,center);
        @include font(16px,$font_color,500);
        position: relative;
        z-index: 35;

        .card_pop_wrapper{
            @include  box-size(340px,auto);
            background-color: white;
            border-radius: 5px;
            .form{
                @include box-size(340px,auto);
                border-radius: 5px;
                text-align: center;
                background-color: white;
                z-index: 35;
                position: fixed;
                top: 200px;
                &::before{
                    content: "";
                    background: linear-gradient(to right, #66AABB 0%, #337788 100%);
                    @include box-size(340px,10px);
                    position: absolute;
                    margin-left: -170px;
                    border-radius: 5px 5px 0px 0px;
                    z-index: 40;
                }
                .form_head{
                    padding-top: 25px;
                    margin-bottom: 15px;
                    height: auto;
                    @include font(24px,$font_color , 700);
                    .form_title{
                        text-align: center;
                    }
                    .cancel_button{
                        @include center(35px,35px,flex,center);
                        align-items: center;
                        position: absolute;
                        right: 10px;
                        top:25px;
                        img{
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
                .form_input{
                    input{
                    @include box-size(310px,47px);
                    @include font(16px,$font_color,500);
                    background-color: white;
                    padding-left: 15px;
                    margin-bottom: 10px;
                    }
                    img{
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        right: 25px;
                        top: 140px;
                    }
                    .openEye.hide{
                        display: none
                    }
                    .closeEye.hide{
                        display: none
                    }
                }
            
                #enter,#build{
                    @include box-size(310px,47px);
                    background-color: $main_color;
                    opacity: 30%;
                    border-radius: 5px;
                    color: white;
                    margin-bottom: 15px;
                }
                
                .register_result, .logIn_result {
                    margin-bottom: 15px;
                }
                .logIn_result.hide , .register_result.hide{
                    display: none;
                }
                .want_register , .want_logIn{
                    width:100%;
                    text-align: center;
                    z-index: 35;
                    line-height: 16px;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .register.hide , .login.hide ,.message.hide{
        display: none;
    }
    .message{
        margin-top: 20%;
        .form_message_print{
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
}

.navigation_button_burger_category{
    width: 200px;
    height: 400px;
    display: flex;
    right: 10%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    background-color: #fafbfb;
    border-radius: 10px;
    position: fixed;
    z-index: 40;
    padding-bottom: 30px;
    .burger_category_wrapper{
        width: 200px;
        text-align: center;
        justify-content: center;
        top:200px;
        .arrow_top{
            width: 100%;
            height: 50px;
            border-radius: 10px;
            margin-bottom: 30px;
            font-size: 12px;
            border: 0px;
            &:hover{
                background-color: #c8c4c4;
                color: black;
                border:none
            }
        }
        button{
            width: 100px;
            height: 100px;
            margin-right: 0px;
            margin-bottom: 10px;
            box-sizing: border-box;
            background-color: #fafbfb;
            .signOutIcon{
                width:25px;
                height: 25px;
            }
            .signOutIcon_change{
                display: none;
                width:25px;
                height: 25px;
            }
            .orderIcon{
                width:25px;
                height: 25px;
            }
            .orderIcon_change{
                display: none;
                width:25px;
                height: 25px;
            }
            .personIcon{
                width:25px;
                height: 25px;
            }
            .personIcon_change{
                display: none;
                width:25px;
                height: 25px;
            }
            &:hover{
                .signOutIcon{
                    display: none;
                }
                .signOutIcon_change{
                    display: inline-block;
                }
                .orderIcon{
                    display: none;
                }
                .orderIcon_change{
                    display: inline-block;
                }
                .personIcon{
                    display: none;
                }
                .personIcon_change{
                    display: inline-block;
                }
                color: #448899;
        
            }
        }
    }
}
.navigation_button_burger_category.hide{
    display: none;
}


.background{
    @include box-size(100%,100% );
    display: flex;
    position: fixed;
    top:0;
    left:0;
    opacity: 25%;
    z-index: 30;
    background-color: black;
    text-align: center;
    align-items: center;
    .preloadImg-wrapper{
        width: 100%;
        height: auto;
        .preloadImg{
            opacity: 100%;
            object-fit: cover;
        }
    }
}

.background.hide{
    display: none;
}


.footer{
    @include box-size(100%,104px);
    @include font(16px,white,700);
    background-color: #757575;
    text-align: center;
    line-height: 104px;
    margin-top: 55px;
}

@media(max-width:1200px){
    .nav_container{
        @include center(100%,54px,flex,center)
    }

    .nav_background{
        @include center(100%,54px,flex,center)
    }

    .navigation{
        width: 90%;
        padding: 0px;
    }

    .navigation_name{
        margin-left:20px;
        margin-left: 0px;
    }

    .navigation_button_schedule{
        margin-left: 0%;
    }

    .navigation_button_sign{
        margin-right: 0px;
    }
    .dividing_line{
        width: 100%;
    }
    .navigation_button_burger_category{
        right: 2%;
    }
}

@media(max-width:560px){
    .nav_container{
        @include center(100%,54px,flex,center)
    }

    .nav_background{
        @include center(100%,54px,flex,center)
    }

    .navigation{
        width: 90%;
    }

    .navigation_name{
        margin-left:0%;
    }

    .navigation_button_schedule{
        margin-left: 0%;
    }

    .navigation_button_sign{
        margin-right: 0px;
    }
    .dividing_line{
        width: 100%;
    }
}