.home{
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
}

.home_word{
    width: 1200px;
    position: absolute;
    text-align: left;
    margin-top:85px;
    color: white;
    z-index: 10;
    font-size: 16px;
}

.home_word_subtitle{
    margin-left: 15px;
}

.home_word_title{
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 700;
    margin-left: 15px;
}

.home_word_search{
    margin-top: 25px;
    display: flex;
    margin-left: 15px;
}


.home_word_search_input{
    border-radius: 5px 0px 0px 5px;
    background-color: white;
    color: #757575;
    padding: 15px;
    width:400px;
    height: 46px;
    box-sizing: border-box;
    border: 0px;
    font-weight: 700;
    font-family: 'Noto Sans TC';
    outline:none;
}

.home_word_search_select{
    width: 400px;
    background-color: white;
    box-shadow:0px 0 20px 0px #aabbcc;
    padding-left: 0px;
    list-style-type: none;
    position: absolute;
    left:0px;
    top:120px;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    margin-left: 15px;
    margin-top: 21px;
    color: black;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
}

.home_word_search_select.hide{
    display: none;
}
.home_word_search_select > li{
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 15px;
}

.home_word_search_select > li:hover{
    background-color: #E8E8E8;
    border-radius: 5px;
    cursor: pointer;
}

.home_word_search_icon{
    border-radius: 0px 5px 5px 0px;
    border: 0px;
    width: 60px;
    height: 46px;
    padding: 0px;
}

.home_word_search_icon :hover{
    cursor: pointer;
}

.home_word_search_icon > img{
    border-radius: 0px 5px 5px 0px;
    width: 30px;
    height: 30px;
    padding: 8px 15px;
    background-color:#448899 ;
}

.home_img{
    position: relative;
    object-fit: cover;
    object-position: 0 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.home_word_search_hint{
    color: rgb(220, 77, 77);
    position: absolute;
    top:150px;
    left:30px;
}

.attractions{
    display: grid;
    width: 1200px;
    height: auto;
    grid-template-columns: 270px 270px 270px 270px;
    grid-gap: 30px;
    margin: 0px auto;
    margin-top: 55px;
    justify-content: center;
}

.attractions_container{
    border: 1px solid #e8e8e8;
    border-radius: 5px 5px 5px 5px;
    transition: .5s;
}

.attractions_container:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.attractions_container_img{
    width: 100%;
    height: 197px;
    object-fit: cover;
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}


.attractions_container_word{
    width: 100%;
    height: 45px;
    background-color:#FFFFFF;
    margin-top: -4.8px;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-weight: 500;
    line-height: 45px;
    color: #757575;
    border-radius: 0px 0px 5px 5px;
}

.attractions_container_word::after{
    width: 100%;
    content: attr(index);
    height: 40px;
    position: absolute;
    top:-40px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    line-height: 40px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-left: -10px;
    font-weight: 700;
}

.attractions_no_result{
    width: 100%;
    text-align: center;
}



@media(max-width:1200px){
    .home_word{
        width: 90%;
        margin-left: 0px;
    }


    .home_word_search_input{
        width: 225px;
    }

    .home_word_search_select{
        width: 322px;
        margin-left: 0px;
        grid-template-columns: 96px 96px 96px;
    }

    .home_word_subtitle{
        margin-left: 0px;
    }

    .home_word_title{
        margin-left: 0px;
    }

    .home_word_search{
        margin-left: 0px;
    }


    .attractions{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:560px){
    .home_word{
        width: 90%;
        margin-left: 1%;
        padding-left: 0px;
    }

    .home_word_subtitle{
        margin-left: 0px;
    }

    .home_word_title{
        margin-left: 0px;
    }

    .home_word_search{
        margin-left: 0px;
    }

    .home_word_search_input{
        width: 225px;
    }

    .home_word_search_hint{
        margin-left: 0px;
        left: 0px;
    }

    .home_word_search_select{
        width: 322px;
        margin-left: 0px;
        grid-template-columns: 96px 96px 96px;
    }

    .attractions{
        width: 90%;
        display: grid;
        grid-template-columns: 100%;
    }
}