{% extends "base.html" %}
        {% block title %}Attraction{% endblock %}
        {% block cssLink %}<link rel="stylesheet" type="text/css" href="/static/css/attraction.css">{% endblock %}

        {% block article %}
        <article class="attraction_content">
            <div class="attraction_information">

                <div class="attraction_information_images">
                    <!-- 輪播圖片 -->
                   
                    <div id="load-wrapper">
                        <div class="loader">
                            <span class="ringFour"></span>
                            <span class="ringThree"></span>
                            <span class="colorRing"></span>
                            <span class="ringTwo"></span>
                            <span class="ball"></span>
                        </div>
                        <div class="label">
                            <h2 class="loading_word">載入中...0%</h2>
                        </div>
                    </div>
                    
                    <div class="attraction_information_images_main"></div>
                    <!-- 指示符 -->
                    <div class="attraction_information_images_circle"></div>

                    <!-- 左右切換按鈕 -->
                    <img class="attraction_information_images_arrow previous" src="/static/pic/left_slider.png"/>
                    <img class="attraction_information_images_arrow next" src="/static/pic/right_slider.png"/>
                </div>


                <div class="attraction_information_booking">
                    <div class="attraction_information_booking_name">
                        <div class="attraction_information_booking_name_title"></div>
                        <div class="attraction_information_booking_name_category"></div>
                    </div>

                    <div class="attraction_information_booking_select">
                        <div class="attraction_information_booking_select_title">訂購導覽行程</div>
                        <div class="attraction_information_booking_select_subtitle">以此景點為中心的一日行程，帶您探索城市角落故事</div>

                        <div>選擇日期:<input id="date" type="date"></div>

                        <div  class="attraction_information_booking_select_time">
                            <span>選擇時間：</span>
                            <label>
                                <input id="morning_time"  type="radio" name="time" value="上半天"  checked>
                                <span>上半天</span>
                            </label>
                            
                            <label>
                                <input id="afternoon_time" type="radio" name="time" value="下半天" >
                                <span>下半天</span>
                            </label>
                            
                        </div>

                        <div  class="attraction_information_booking_select_price">
                            <span>導覽費用：</span>
                            <span id="price">2000</span>
                        </div>
                        <button id="cart_button" class="attraction_information_booking_select_button">放入口袋名單</button>
                        <button id="go_to_checkout_button" class="attraction_information_booking_select_button">開始預約行程</button>
                    </div>
                </div>
            </div>


            <div class="attractions_introduction">
                <div class="dividing_line"></div>
                <div id="description"></div>

                <div class="attractions_introduction_address">
                    <div>景點地址：</div>
                    <div id="address"></div>
                </div>

                <div class="attractions_introduction_transport">
                    <div>交通方式：</div>
                    <div id="transport"></div>
                </div>

            </div>

        </article>
        {% endblock %}
    {% block js %}<script  src="/static/js/attraction.js"></script>{% endblock %}