<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    
    
    {% block cssLink %}{% endblock %}
  </head>
  <body>
    <nav class="nav_container">
        <div class="nav_background">
            <div class="navigation">
                <button class="navigation_name">台北一日遊</button>
                <div class="navigation_button">
                    <button id="nav_schedule" class="navigation_button_schedule">預定行程</button>
                    <button class="navigation_button_sign">登入/註冊</button>
                    <button class="navigation_button_sign_out hide">登出系統</button>
                </div>
            </div>
        </div>
    </nav>
    <div class="background hide"></div>

    <div class="member_container">
        <div class="login hide">
            <div class="card_pop_wrapper">

                <div class="login_form form" >

                    <div class="form_head">
                        <span class="form_title">登入會員帳號</span>
                        <button class="cancel_button">
                            <img src="/static/pic/cancel_icon.png">
                        </button>
                    </div>

                    <div class="form_input">
                        <input id="email" type="text" name="email" maxlength="30" placeholder="輸入電子信箱">
                    </div>

                    <div class="form_input">
                        <input id="password" type="password" name="password" maxlength="15" placeholder="輸入密碼">
                    </div>

                    <button id="enter" type="button" >登入帳戶</button>

                    <div class="logIn_result hide"></div>

                    <div class="want_register">
                        <span>還沒有帳戶？</span>
                        <button class="register_button">點此註冊</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="register hide">
            <div class="card_pop_wrapper">
                <div class="register_form form">

                    <div class="form_head">
                        <span class="form_title">註冊會員帳號</span>
                        <button class="cancel_button">
                            <img src="/static/pic/cancel_icon.png">
                        </button>
                    </div>

                    <div class="form_input">
                        <input id="newName"
                            type="text"
                            name="name"
                            maxlength="30"
                            placeholder="輸入姓名">
                    </div>

                    <div class="form_input">
                        <input id="newEmail"
                            type="email"
                            name="email"
                            maxlength="30"
                            placeholder="輸入電子信箱">
                    </div>

                    <div class="form_input">
                        <input id="newPassword"
                        type="password"
                        name="password"
                        maxlength="15"
                        placeholder="輸入密碼">
                    </div>

                    <button id="build" type="button" >註冊新帳戶</button>

                    <div class="register_result hide"></div>

                    <div class="want_logIn ">
                        <span>已經有帳戶了?</span>
                        <button class="logIn_button" >點此登入</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="message hide">
            <div class="card_pop_wrapper">
                <div class="form">
                    <div class="form_head">
                        <button class="cancel_button">
                            <img src="/static/pic/cancel_icon.png">
                        </button>
                        <span>系統通知</span>
                    </div>
                    <div class="form_message_print"></div>
                </div>
            </div>
        </div>
    </div>
    


   

    {% block article %}
    {% endblock %}

    <footer class="footer">COPYRIGHT © 2021 台北一日遊</footer>
  </body>
  <script src="/static/js/base.js"></script>
  {% block js %}{% endblock %}
</html>