<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    
    
    {% block cssLink %}{% endblock %}
  </head>
  <body>
    <nav class="nav_container">
        <div class="nav_background">
            <div class="navigation">
                <button class="navigation_name">台北一日遊</button>
                <div class="navigation_button">
                    <button  class="navigation_button_schedule">
                        <div class="navigation_cart">
                            <img class="navigation_cart_icon" src="/static/pic/cartIcon.svg">
                            <span class="navigation_cart_number"></span>
                        </div>
                        <span id="nav_schedule" class="navigation_cart_word">預定行程</span>
                    </button>
                    <button class="navigation_button_sign">登入/註冊</button>
                    <button class="navigation_button_burger hide">
                        <img class="navigation_button_burger_icon" src="/static/pic/burger.svg">
                        <img class="navigation_button_burger_change_icon" src="/static/pic/burgerChange.svg">
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <div class="navigation_button_burger_category hide">
        <div class="burger_category_wrapper">
            <button class="arrow_top">close</button>
            
            <button id="nav_member_information" class="navigation_button_member_information">
                <img class="personIcon" src="/static/pic/personIcon.svg">
                <img class="personIcon_change" src="/static/pic/personIconChange.svg">
                <div>個人資料</div>
            </button>
            <button id="nav_record" class="navigation_button_record">
                <img class="orderIcon" src="/static/pic/orderIcon.svg">
                <img class="orderIcon_change" src="/static/pic/orderIconChange.svg">
                <div>歷史紀錄</div>
            </button>
            <button class="navigation_button_sign_out hide">
                <img class="signOutIcon"src="/static/pic/signoutIcon.svg">
                <img class="signOutIcon_change" src="/static/pic/signOutIconChange.svg">
                <div>登出系統</div>
            </button>
        </div>
    </div>
    <div class="background hide"></div>

    <div class="member_container">
        <div class="login hide">
            <div class="card_pop_wrapper">

                <div class="login_form form" >

                    <div class="form_head">
                        <span class="form_title">登入會員帳號</span>
                        <button class="cancel_button">
                            <img src="/static/pic/cancel_icon.png">
                        </button>
                    </div>

                    <div class="form_input">
                        <input id="email" type="text" name="email" maxlength="30" placeholder="輸入電子信箱">
                    </div>

                    <div class="form_input">
                        <input id="password"
                               class="login-form-eye-input"
                               type="password"
                               name="password"
                               maxlength="15"
                               placeholder="輸入密碼">
                        <button id="login-form-eye">
                            <img class="login-form-eye openEye hide" src="/static/pic/openEyeIcon.svg">
                            <img class="login-form-eye closeEye" src="/static/pic/closeEyeIcon.svg">
                        </button>
                    </div>

                    <button id="enter" type="button" >登入帳戶</button>

                    <div class="logIn_result hide"></div>

                    <div class="want_register">
                        <span>還沒有帳戶？</span>
                        <button class="register_button">點此註冊</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="register hide">
            <div class="card_pop_wrapper">
                <div class="register_form form">

                    <div class="form_head">
                        <span class="form_title">註冊會員帳號</span>
                        <button class="cancel_button">
                            <img src="/static/pic/cancel_icon.png">
                        </button>
                    </div>

                    <div class="form_input">
                        <input id="newName"
                            type="text"
                            name="name"
                            maxlength="30"
                            placeholder="輸入姓名">
                    </div>

                    <div class="form_input">
                        <input id="newEmail"
                            type="email"
                            name="email"
                            maxlength="30"
                            placeholder="輸入電子信箱">
                    </div>

                    <div class="form_input">
                        <input id="newPassword"
                        class="register-form-eye-input"
                        type="password"
                        name="password"
                        maxlength="15"
                        placeholder="輸入密碼">
                        <button id="register-form-eye">
                            <img class="register-form-eye openEye hide" src="/static/pic/openEyeIcon.svg">
                            <img class="register-form-eye closeEye" src="/static/pic/closeEyeIcon.svg">
                        </button>
                    </div>

                    <button id="build" type="button" >註冊新帳戶</button>

                    <div class="register_result hide"></div>

                    <div class="want_logIn ">
                        <span>已經有帳戶了?</span>
                        <button class="logIn_button" >點此登入</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="message hide">
            <div class="card_pop_wrapper">
                <div class="form">
                    <div class="form_head">
                        <button class="cancel_button">
                            <img src="/static/pic/cancel_icon.png">
                        </button>
                        <span>系統通知</span>
                    </div>
                    <div class="form_message_print"></div>
                </div>
            </div>
        </div>
    </div>
    


   

    {% block article %}
    {% endblock %}

    <footer class="footer">COPYRIGHT © 2021 台北一日遊</footer>
  </body>
  <script  src="/static/js/base.js"></script>
  {% block js %}{% endblock %}
</html>