{% extends "base.html" %}
        {% block title %}歷史紀錄{% endblock %}
        {% block cssLink %}<link rel="stylesheet" type="text/css" href="/static/css/recording.css">{% endblock %}

        {% block article %}
        <h1 class="order-title">歷史購買紀錄</h1>
        <article class="order">
            <section class="order-wrapper">
                <div class="order-content">
                </div>
            </section>
  
        </article>
        {% endblock %}
    {% block js %}<script  src="/static/js/record.js"></script>{% endblock %}